In [1]:
import pandas as pd

In [2]:
na_vals = ["NA", "Missing"]
df = pd.read_csv('data/survey_data.csv', index_col = "Respondent", na_values = na_vals)
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col = "Column")

In [3]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [4]:
df.head()

,Unnamed: 0,Hobbyist,Country,MgrIdiot,ConvertedComp,LanguageWorkedWith,SocialMedia,Age,YearsCode
Respondent,,,,,,,,,
1,0,Yes,United Kingdom,NaN,NaN,HTML/CSS;Java;JavaScript;Python,Twitter,14.0,4
4,3,No,United States,Very confident,61000.0,C;C++;C#;Python;SQL,Reddit,22.0,3
6,5,Yes,Canada,Very confident,366420.0,Java;R;SQL,YouTube,28.0,13
8,7,Yes,India,NaN,NaN,Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...,YouTube,24.0,8
10,9,Yes,India,Somewhat confident,13293.0,C#;Go;JavaScript;Python;R;SQL,YouTube,NaN,12

In [5]:
df.tail()

,Unnamed: 0,Hobbyist,Country,MgrIdiot,ConvertedComp,LanguageWorkedWith,SocialMedia,Age,YearsCode
Respondent,,,,,,,,,
85642,88859,No,United States,NaN,NaN,Go;HTML/CSS,NaN,34.0,20
85961,88863,Yes,United Kingdom,NaN,NaN,C;C++;Other(s):,YouTube,45.0,24
86012,88864,Yes,India,Somewhat confident,NaN,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript,I don't use social media,24.0,5
88282,88877,Yes,United States,NaN,NaN,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;W...,I don't use social media,NaN,38
88377,88878,Yes,Canada,NaN,NaN,HTML/CSS;JavaScript;Other(s):,YouTube,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 47651 entries, 1 to 88377
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          47651 non-null  int64
 1   Hobbyist            47651 non-null  object
 2   Country             47651 non-null  object
 3   MgrIdiot            33940 non-null  object
 4   ConvertedComp       30658 non-null  float64
 5   LanguageWorkedWith  47109 non-null  object
 6   SocialMedia         45403 non-null  object
 7   Age                 42238 non-null  float64
 8   YearsCode           47187 non-null  object
dtypes: float64(2), int64(1), object(6)
memory usage: 3.6+ MB

In [7]:
df.shape

(47651, 9)

In [8]:
df.columns

Index(['Unnamed: 0', 'Hobbyist', 'Country', 'MgrIdiot', 'ConvertedComp',
       'LanguageWorkedWith', 'SocialMedia', 'Age', 'YearsCode'],
      dtype='object')

In [9]:
df["Hobbyist"]

Respondent
1        Yes
4         No
6        Yes
8        Yes
10       Yes
        ...
85642     No
85961    Yes
86012    Yes
88282    Yes
88377    Yes
Name: Hobbyist, Length: 47651, dtype: object

In [10]:
df["Hobbyist"].value_counts()

Yes    38335
No      9316
Name: Hobbyist, dtype: int64

In [11]:
df.loc[1:6, "Hobbyist"]

Respondent
1    Yes
4     No
6    Yes
Name: Hobbyist, dtype: object

In [12]:
df.loc[1:6, "Hobbyist": "MgrIdiot"]

           Hobbyist         Country        MgrIdiot
Respondent
1               Yes  United Kingdom             NaN
4                No   United States  Very confident
6               Yes          Canada  Very confident

In [13]:
high_salary = (df["ConvertedComp"] > 70000)

In [14]:
df.loc[high_salary, ["Country", "LanguageWorkedWith", "ConvertedComp"]]

,Country,LanguageWorkedWith,ConvertedComp
Respondent,,,
6,Canada,Java;R;SQL,366420.0
13,United States,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,90000.0
16,United Kingdom,Bash/Shell/PowerShell;C#;HTML/CSS;JavaScript;T...,455352.0
22,United States,Bash/Shell/PowerShell;C++;HTML/CSS;JavaScript;...,103000.0
26,United States,Bash/Shell/PowerShell;C++;C#;HTML/CSS;JavaScri...,114000.0
...,...,...,...
88873,Canada,HTML/CSS;JavaScript;PHP;Python;R;SQL,72522.0
88874,United States,C++;Python;Scala;SQL,2000000.0
88876,United States,Bash/Shell/PowerShell;C#;HTML/CSS;Java;Python;...,180000.0
88877,United States,Bash/Shell/PowerShell;C;Clojure;HTML/CSS;Java;...,2000000.0
88878,United States,HTML/CSS;JavaScript;Scala;TypeScript,130000.0

In [15]:
countries = ["United States", "India", "United Kingdom", "Germany", "Canada"]
filt = (df["Country"].isin(countries))

In [16]:
df.loc[filt, "Country"]

Respondent
1        United Kingdom
4         United States
6                Canada
8                 India
10                India
              ...
85642     United States
85961    United Kingdom
86012             India
88282     United States
88377            Canada
Name: Country, Length: 45008, dtype: object

In [17]:
filt2 = df["LanguageWorkedWith"].str.contains("Python", na = False)

In [18]:
df.loc[filt2, "LanguageWorkedWith"]

Respondent
1                          HTML/CSS;Java;JavaScript;Python
4                                      C;C++;C#;Python;SQL
8        Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
10                           C#;Go;JavaScript;Python;R;SQL
12        Bash/Shell/PowerShell;HTML/CSS;Java;Python;R;SQL
                               ...
82007          Assembly;Java;JavaScript;Objective-C;Python
82789    Bash/Shell/PowerShell;C++;C#;HTML/CSS;Python;Ruby
83397                       HTML/CSS;JavaScript;Python;SQL
84299     HTML/CSS;Java;JavaScript;Python;Swift;TypeScript
84539    Bash/Shell/PowerShell;C;C++;HTML/CSS;Java;Java...
Name: LanguageWorkedWith, Length: 20660, dtype: object

In [19]:
df.rename(columns={"ConvertedComp": "SalaryUSD"}, inplace = True)
df["SalaryUSD"]

Respondent
1             NaN
4         61000.0
6        366420.0
8             NaN
10        13293.0
           ...
85642         NaN
85961         NaN
86012         NaN
88282         NaN
88377         NaN
Name: SalaryUSD, Length: 47651, dtype: float64

In [20]:
df["Hobbyist"] = df["Hobbyist"].map({"Yes": True, "No": False})

In [21]:
df["Hobbyist"]

Respondent
1         True
4        False
6         True
8         True
10        True
         ...
85642    False
85961     True
86012     True
88282     True
88377     True
Name: Hobbyist, Length: 47651, dtype: bool

In [22]:
df.sort_values(by=["Country", "SalaryUSD"],ascending = [True, False] ,inplace = True)
df[["Country", "SalaryUSD"]].head(50)

           Country  SalaryUSD
Respondent
25983       Canada  2000000.0
30670       Canada  1560000.0
274         Canada  1380000.0
14985       Canada  1020000.0
273         Canada  1000000.0
967         Canada  1000000.0
1069        Canada  1000000.0
1849        Canada  1000000.0
2482        Canada  1000000.0
2763        Canada  1000000.0
3203        Canada  1000000.0
6162        Canada  1000000.0
6951        Canada  1000000.0
8589        Canada  1000000.0
9750        Canada  1000000.0
10032       Canada  1000000.0
10486       Canada  1000000.0
10861       Canada  1000000.0
11469       Canada  1000000.0
11794       Canada  1000000.0
12179       Canada  1000000.0
13102       Canada  1000000.0
13293       Canada  1000000.0
13569       Canada  1000000.0
15407       Canada  1000000.0
16547       Canada  1000000.0
16750       Canada  1000000.0
17070       Canada  1000000.0
17111       Canada  1000000.0
17848       Canada  1000000.0
19752       Canada  1000000.0
20130       Canada  1000000.0
21243       Canada  1000000.0
21611       Canada  1000000.0
23008       Canada  1000000.0
23216       Canada  1000000.0
23504       Canada  1000000.0
28461       Canada  1000000.0
29491       Canada  1000000.0
32286       Canada  1000000.0
33613       Canada  1000000.0
33653       Canada  1000000.0
34336       Canada  1000000.0
36858       Canada  1000000.0
37482       Canada  1000000.0
37620       Canada  1000000.0
38555       Canada  1000000.0
38674       Canada  1000000.0
40291       Canada  1000000.0
41485       Canada  1000000.0

In [23]:
df["SalaryUSD"].nlargest(10)

Respondent
25983    2000000.0
87896    2000000.0
22013    2000000.0
28243    2000000.0
72732    2000000.0
84390    2000000.0
58       2000000.0
102      2000000.0
166      2000000.0
436      2000000.0
Name: SalaryUSD, dtype: float64

In [24]:
df.nsmallest(10, "SalaryUSD")

,Unnamed: 0,Hobbyist,Country,MgrIdiot,SalaryUSD,LanguageWorkedWith,SocialMedia,Age,YearsCode
Respondent,,,,,,,,,
1105,1101,False,Canada,NaN,0.0,C;HTML/CSS;JavaScript;PHP;Python;SQL,I don't use social media,65.0,9
14883,14808,True,Canada,NaN,0.0,Assembly;Bash/Shell/PowerShell;C;C++;C#;Clojur...,LinkedIn,32.0,Less than 1 year
16758,16668,True,Canada,NaN,0.0,SQL;Other(s):,YouTube,NaN,5
21942,21825,False,Canada,NaN,0.0,C#;HTML/CSS;JavaScript;SQL,Twitter,55.0,36
37205,36976,True,Canada,NaN,0.0,Python,NaN,51.0,32
39051,38814,True,Canada,Somewhat confident,0.0,C++;C#;HTML/CSS;JavaScript;PHP;SQL,Reddit,23.0,9
42604,42333,True,Canada,Very confident,0.0,Bash/Shell/PowerShell;C;C#;Dart;Elixir;Go;HTML...,YouTube,37.0,26
43086,42812,True,Canada,Not at all confident,0.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,WhatsApp,24.0,5
61816,61421,True,Canada,NaN,0.0,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;SQL,Reddit,29.0,8
66290,65869,True,Canada,NaN,0.0,C#;HTML/CSS;JavaScript;PHP;SQL;Other(s):,Facebook,54.0,35

In [25]:
df["SalaryUSD"].median()

78000.0

In [26]:
df["SalaryUSD"].count()

30658

In [27]:
df.median()

/var/folders/sv/q21fw4bs16v4kqdhbkfw125h0000gn/T/ipykernel_21116/530051474.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.median()

Unnamed: 0    44429.0
Hobbyist          1.0
SalaryUSD     78000.0
Age              29.0
dtype: float64

In [28]:
df.describe()

         Unnamed: 0     SalaryUSD           Age
count  47651.000000  3.065800e+04  42238.000000
mean   44439.232209  1.723320e+05     30.856298
std    25562.574732  3.527389e+05      9.664068
min        0.000000  0.000000e+00      1.000000
25%    22387.500000  4.200700e+04     24.000000
50%    44429.000000  7.800000e+04     29.000000
75%    66597.000000  1.300000e+05     35.000000
max    88878.000000  2.000000e+06     99.000000

In [29]:
df['Hobbyist'].value_counts()

True     38335
False     9316
Name: Hobbyist, dtype: int64

In [30]:
df['SocialMedia'].value_counts()

Reddit                      9434
YouTube                     6918
Twitter                     6573
WhatsApp                    6359
Facebook                    5511
Instagram                   3513
I don't use social media    3402
LinkedIn                    2578
VK ВКонта́кте                473
Snapchat                     458
WeChat 微信                    161
Weibo 新浪微博                    11
Hello                          7
Youku Tudou 优酷                 5
Name: SocialMedia, dtype: int64

In [31]:
df['SocialMedia'].value_counts(normalize = True)

Reddit                      0.207784
YouTube                     0.152369
Twitter                     0.144770
WhatsApp                    0.140057
Facebook                    0.121380
Instagram                   0.077374
I don't use social media    0.074929
LinkedIn                    0.056780
VK ВКонта́кте               0.010418
Snapchat                    0.010087
WeChat 微信                   0.003546
Weibo 新浪微博                  0.000242
Hello                       0.000154
Youku Tudou 优酷              0.000110
Name: SocialMedia, dtype: float64

In [32]:
country_grp = df.groupby(["Country"])

In [33]:
country_grp.get_group("United States")

,Unnamed: 0,Hobbyist,Country,MgrIdiot,SalaryUSD,LanguageWorkedWith,SocialMedia,Age,YearsCode
Respondent,,,,,,,,,
58,57,True,United States,Very confident,2000000.0,C#;Java;SQL,I don't use social media,47.0,28
102,101,False,United States,Somewhat confident,2000000.0,C#;HTML/CSS;JavaScript;SQL;TypeScript,I don't use social media,37.0,8
166,164,True,United States,Very confident,2000000.0,Bash/Shell/PowerShell;Go;HTML/CSS;Java;JavaScr...,Twitter,30.0,7
436,434,True,United States,Somewhat confident,2000000.0,Bash/Shell/PowerShell;HTML/CSS;Java;JavaScript...,Reddit,38.0,20
452,450,True,United States,Very confident,2000000.0,SQL;VBA,Facebook,35.0,7
...,...,...,...,...,...,...,...,...,...
78292,88818,False,United States,NaN,NaN,Bash/Shell/PowerShell;C;Python,I don't use social media,60.0,42
82717,88840,False,United States,NaN,NaN,NaN,Facebook,44.0,Less than 1 year
83397,88844,True,United States,NaN,NaN,HTML/CSS;JavaScript;Python;SQL,NaN,27.0,12
85642,88859,False,United States,NaN,NaN,Go;HTML/CSS,NaN,34.0,20
88282,88877,True,United States,NaN,NaN,Bash/Shell/PowerShell;Go;HTML/CSS;JavaScript;W...,I don't use social media,NaN,38

In [34]:
filt_country = df["Country"] == "United States"
df.loc[filt_country]["SocialMedia"].value_counts()

Reddit                      5700
Twitter                     3468
Facebook                    2844
YouTube                     2463
I don't use social media    1851
Instagram                   1652
LinkedIn                    1020
WhatsApp                     609
Snapchat                     326
WeChat 微信                     93
VK ВКонта́кте                  9
Weibo 新浪微博                     8
Hello                          2
Youku Tudou 优酷                 1
Name: SocialMedia, dtype: int64

In [35]:
country_grp["SocialMedia"].value_counts()

Country             SocialMedia
Canada              Reddit                       901
                    YouTube                      526
                    Facebook                     515
                    Twitter                      405
                    Instagram                    246
                    I don't use social media     232
                    WhatsApp                     185
                    LinkedIn                     179
                    WeChat 微信                     44
                    Snapchat                      28
                    VK ВКонта́кте                  7
                    Weibo 新浪微博                     1
Germany             WhatsApp                    1343
                    YouTube                      970
                    Reddit                       923
                    Twitter                      866
                    I don't use social media     501
                    Facebook                     404
                    Instagram                    264
                    LinkedIn                     141
                    Snapchat                      10
                    VK ВКонта́кте                  8
                    WeChat 微信                      8
India               WhatsApp                    2990
                    YouTube                     1820
                    LinkedIn                     955
                    Facebook                     841
                    Instagram                    822
                    Twitter                      542
                    Reddit                       473
                    I don't use social media     250
                    Snapchat                      23
                    Hello                          5
                    WeChat 微信                      5
                    VK ВКонта́кте                  4
                    Youku Tudou 优酷                 2
                    Weibo 新浪微博                     1
Russian Federation  VK ВКонта́кте                442
                    YouTube                      302
                    I don't use social media     155
                    Reddit                       140
                    Twitter                      130
                    Instagram                     94
                    WhatsApp                      90
                    Facebook                      67
                    LinkedIn                      35
                    Snapchat                       1
Turkey              WhatsApp                     233
                    Twitter                      167
                    YouTube                      156
                    Instagram                    117
                    Reddit                        98
                    LinkedIn                      73
                    I don't use social media      41
                    Facebook                      29
                    Youku Tudou 优酷                 1
United Kingdom      Reddit                      1199
                    Twitter                      995
                    WhatsApp                     909
                    Facebook                     811
                    YouTube                      681
                    I don't use social media     372
                    Instagram                    318
                    LinkedIn                     175
                    Snapchat                      70
                    WeChat 微信                     11
                    VK ВКонта́кте                  3
                    Weibo 新浪微博                     1
                    Youku Tudou 优酷                 1
United States       Reddit                      5700
                    Twitter                     3468
                    Facebook                    2844
                    YouTube                     2463
                    I don't use social media    1851
                    Instagram                   1652
                    LinkedIn                    1020
                    WhatsApp                     609
                    Snapchat                     326
                    WeChat 微信                     93
                    VK ВКонта́кте                  9
                    Weibo 新浪微博                     8
                    Hello                          2
                    Youku Tudou 优酷                 1
Name: SocialMedia, dtype: int64

In [36]:
country_grp["SocialMedia"].value_counts(normalize=True).loc["United States"]

SocialMedia
Reddit                      0.284346
Twitter                     0.173002
Facebook                    0.141874
YouTube                     0.122867
I don't use social media    0.092338
Instagram                   0.082410
LinkedIn                    0.050883
WhatsApp                    0.030380
Snapchat                    0.016263
WeChat 微信                   0.004639
VK ВКонта́кте               0.000449
Weibo 新浪微博                  0.000399
Hello                       0.000100
Youku Tudou 优酷              0.000050
Name: SocialMedia, dtype: float64

In [37]:
country_grp["SalaryUSD"].median()

Country
Canada                 68705.0
Germany                63016.0
India                  10080.0
Russian Federation     23832.0
Turkey                 17280.0
United Kingdom         68041.0
United States         110000.0
Name: SalaryUSD, dtype: float64

In [38]:
country_grp["SalaryUSD"].median().loc["Germany"]

63016.0

In [39]:
country_grp["SalaryUSD"].agg(["median", "mean"])

                      median           mean
Country
Canada               68705.0  134018.564909
Germany              63016.0  109256.884066
India                10080.0   28057.664916
Russian Federation   23832.0   31124.383363
Turkey               17280.0   25133.222664
United Kingdom       68041.0  166182.499504
United States       110000.0  249546.254589

In [40]:
country_grp["SalaryUSD"].agg(["median", "mean"]).loc["Canada"]

median     68705.000000
mean      134018.564909
Name: Canada, dtype: float64

In [41]:
filt_country = df["Country"] == "Turkey"
df.loc[filt_country]["LanguageWorkedWith"].str.contains("Python").sum()

371

In [42]:
country_grp["LanguageWorkedWith"].apply(lambda x: x.str.contains("Python").sum())

Country
Canada                 1558
Germany                2451
India                  3105
Russian Federation      708
Turkey                  371
United Kingdom         2384
United States         10083
Name: LanguageWorkedWith, dtype: int64

In [43]:
country_grp["LanguageWorkedWith"].apply(lambda x: x.str.contains("Python").value_counts(normalize=True))

Country
Canada              False    0.536999
                    True     0.463001
Germany             False    0.579660
                    True     0.420340
India               False    0.648915
                    True     0.351085
Russian Federation  False    0.580071
                    True     0.419929
Turkey              False    0.598485
                    True     0.401515
United Kingdom      False    0.581019
                    True     0.418981
United States       False    0.514517
                    True     0.485483
Name: LanguageWorkedWith, dtype: float64

In [44]:
country_respondents = df["Country"].value_counts()
country_respondents

United States         20949
India                  9061
Germany                5866
United Kingdom         5737
Canada                 3395
Russian Federation     1694
Turkey                  949
Name: Country, dtype: int64

In [45]:
country_uses_python = country_grp["LanguageWorkedWith"].apply(lambda x: x.str.contains("Python").sum())
country_uses_python

Country
Canada                 1558
Germany                2451
India                  3105
Russian Federation      708
Turkey                  371
United Kingdom         2384
United States         10083
Name: LanguageWorkedWith, dtype: int64

In [46]:
python_df = pd.concat([country_respondents, country_uses_python], axis = "columns", sort = "False")
python_df

/var/folders/sv/q21fw4bs16v4kqdhbkfw125h0000gn/T/ipykernel_21116/1179799835.py:1: FutureWarning: Passing non boolean values for sort is deprecated and will error in a future version!
  python_df = pd.concat([country_respondents, country_uses_python], axis = "columns", sort = "False")

                    Country  LanguageWorkedWith
Canada                 3395                1558
Germany                5866                2451
India                  9061                3105
Russian Federation     1694                 708
Turkey                  949                 371
United Kingdom         5737                2384
United States         20949               10083

In [47]:
python_df.rename(columns= {"Country": "NumRespondents", "LanguageWorkedWith": "NumKnowsPython"}, inplace = True)
python_df

                    NumRespondents  NumKnowsPython
Canada                        3395            1558
Germany                       5866            2451
India                         9061            3105
Russian Federation            1694             708
Turkey                         949             371
United Kingdom                5737            2384
United States                20949           10083

In [48]:
python_df["PctKnowsPython"] = (python_df["NumKnowsPython"]/python_df["NumRespondents"])*100
python_df

                    NumRespondents  NumKnowsPython  PctKnowsPython
Canada                        3395            1558       45.891016
Germany                       5866            2451       41.783157
India                         9061            3105       34.267741
Russian Federation            1694             708       41.794569
Turkey                         949             371       39.093783
United Kingdom                5737            2384       41.554820
United States                20949           10083       48.131176

In [49]:
python_df.sort_values(by="PctKnowsPython",ascending = False, inplace = True)
python_df

                    NumRespondents  NumKnowsPython  PctKnowsPython
United States                20949           10083       48.131176
Canada                        3395            1558       45.891016
Russian Federation            1694             708       41.794569
Germany                       5866            2451       41.783157
United Kingdom                5737            2384       41.554820
Turkey                         949             371       39.093783
India                         9061            3105       34.267741

In [50]:
python_df.loc["India"]

NumRespondents    9061.000000
NumKnowsPython    3105.000000
PctKnowsPython      34.267741
Name: India, dtype: float64

In [51]:
df["YearsCode"].head(10)

Respondent
25983     8
30670     5
274      16
14985    20
273      19
967      19
1069     28
1849     22
2482      9
2763      6
Name: YearsCode, dtype: object

In [52]:
df["YearsCode"].unique()

array(['8', '5', '16', '20', '19', '28', '22', '9', '6', '25', '12', '2',
       '14', '10', '37', '11', '7', '3', '36', '17', '15', '4', '18',
       '30', '24', '32', '31', '13', '46', '39', '34', '45', '23', '35',
       '21', '47', '33', '38', '40', '29', '27', '42', '26',
       'Less than 1 year', '44', '41', 'More than 50 years', nan, '48',
       '49', '1', '43', '50'], dtype=object)

In [53]:
df["YearsCode"].replace('Less than 1 year', 0, inplace=True)
df["YearsCode"].replace('More than 50 years', 51, inplace=True)

In [54]:
df["YearsCode"] = df["YearsCode"].astype(float)

In [55]:
df["YearsCode"].mean()

12.271790959374403

In [56]:
df["YearsCode"].median()

10.0

In [57]:
schema_df.sort_index(ascending = False)

                                                             QuestionText
Column
YearsCodePro            How many years have you coded professionally (...
YearsCode               Including any education, how many years have y...
WorkWeekHrs              On average, how many hours per week do you work?
WorkRemote                                How often do you work remotely?
WorkPlan                          How structured or planned is your work?
WorkLoc                                   Where would you prefer to work?
WorkChallenge           Of these options, what are your greatest chall...
WelcomeChange           Compared to last year, how welcome do you feel...
WebFrameWorkedWith      Which of the following web frameworks have you...
WebFrameDesireNextYear  Which of the following web frameworks have you...
UnitTests               Does your company regularly employ unit tests ...
UndergradMajor          What was your main or most important field of ...
Trans                                     Do you identify as transgender?
SurveyLength            How do you feel about the length of the survey...
SurveyEase              How easy or difficult was this survey to compl...
Student                 Are you currently enrolled in a formal, degree...
SocialMedia                   What social media site do you use the most?
Sexuality               Which of the following do you currently identi...
ScreenName                                           What do you call it?
SOVisitTo               I visit Stack Overflow to... (check all that a...
SOVisitFreq             How frequently would you say you visit Stack O...
SOVisit1st              To the best of your memory, when did you first...
SOTimeSaved             Think back to the last time you solved a codin...
SOPartFreq              How frequently would you say you participate i...
SONewContent            Would you like to see any of the following on ...
SOJobs                  Have you ever used or visited Stack Overflow J...
SOHowMuchTime           About how much time did you save? If you're no...
SOFindAnswer            On average, how many times a week do you find ...
SOComm                  Do you consider yourself a member of the Stack...
SOAccount                           Do you have a Stack Overflow account?
ResumeUpdate            Think back to the last time you updated your r...
Respondent              Randomized respondent ID number (not in order ...
PurchaseWhat            What level of influence do you, personally, ha...
PurchaseHow             How does your company make decisions about pur...
PlatformWorkedWith      Which of the following platforms have you done...
PlatformDesireNextYear  Which of the following platforms have you done...
OrgSize                 Approximately how many people are employed by ...
OpenSourcer                   How often do you contribute to open source?
OpenSource              How do you feel about the quality of open sour...
OpSys                   What is the primary operating system in which ...
OffOn                         Have you tried turning it off and on again?
MiscTechWorkedWith      Which of the following other frameworks, libra...
MiscTechDesireNextYear  Which of the following other frameworks, libra...
MgrWant                 Do you want to become a manager yourself in th...
MgrMoney                Do you believe that you need to be a manager t...
MgrIdiot                How confident are you that your manager knows ...
MainBranch              Which of the following options best describes ...
LastInt                 In your most recent successful job interview (...
LastHireDate            When was the last time that you took a job wit...
LanguageWorkedWith      Which of the following programming, scripting,...
LanguageDesireNextYear  Which of the following programming, scripting,...
JobSeek                 Which of the following best describes your cur...
JobSat                  How satisfied are you with your current job? (...
JobFactors              Imagine that you are deciding between two job ...
ImpSyn                  For the specific work you do, and the years of...
ITperson                 Are you the "IT support person" for your family?
Hobbyist                                          Do you code as a hobby?
Gender                  Which of the following do you currently identi...
FizzBuzz                Have you ever been asked to solve FizzBuzz in ...
Extraversion              Do you prefer online chat or IRL conversations?
Ethnicity               Which of the following do you identify as? Ple...
EntTeams                Have you ever used Stack Overflow for Enterpri...
Employment              Which of the following best describes your cur...
EduOther                Which of the following types of non-degree edu...
EdLevel                 Which of the following best describes the high...
DevType                 Which of the following describe you? Please se...
DevEnviron              Which development environment(s) do you use re...
Dependents              Do you have any dependents (e.g., children, el...
DatabaseWorkedWith      Which of the following database environments h...
DatabaseDesireNextYear  Which of the following database environments h...
CurrencySymbol          Which currency do you use day-to-day? If your ...
CurrencyDesc            Which currency do you use day-to-day? If your ...
Country                         In which country do you currently reside?
ConvertedComp           Salary converted to annual USD salaries using ...
Containers              How do you use containers (Docker, Open Contai...
CompTotal               What is your current total compensation (salar...
CompFreq                 Is that compensation weekly, monthly, or yearly?
CodeRevHrs              On average, how many hours per week do you spe...
CodeRev                          Do you review code as part of your work?
CareerSat               Overall, how satisfied are you with your caree...
BlockchainOrg           How is your organization thinking about or imp...
BlockchainIs            Blockchain / cryptocurrency technology is prim...
BetterLife              Do you think people born today will have a bet...
Age1stCode              At what age did you write your first line of c...
Age                     What is your age (in years)? If you prefer not...

In [58]:
schema_df.loc["MgrIdiot"]

QuestionText    How confident are you that your manager knows ...
Name: MgrIdiot, dtype: object

In [59]:
schema_df.loc["MgrIdiot", "QuestionText"]

'How confident are you that your manager knows what they’re doing?'

In [60]:
schema_df.loc["SocialMedia"]

QuestionText    What social media site do you use the most?
Name: SocialMedia, dtype: object